In [10]:
s = "This is string"
l = [1,2,3,4,'text',3.142,False,9+4j]
f = 3.142
t = ('text1','text2','text3')

In [11]:
print(s,l,t,f)

This is string [1, 2, 3, 4, 'text', 3.142, False, (9+4j)] ('text1', 'text2', 'text3') 3.142

In [15]:
var = ''
type(var)

str

In [17]:
 var2 = '[DS,ML,Python]'
 var3 = ['DS','ML','Python']
 var4 = 1

In [18]:
type(var2)

str

In [19]:
type(var3)

list

In [20]:
type(var4)

int

In [24]:
a = 10
b = 3
print(a/b)
print(a%b)
print(a//b)
print(a**b)

3.3333333333333335
1
3
1000

In [28]:
f=[1,2,3,4,5,'text',3.142,99,True,3+4j]
for i in f:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
text
<class 'str'>
3.142
<class 'float'>
99
<class 'int'>
True
<class 'bool'>
(3+4j)
<class 'complex'>

In [5]:
a=int(input())
b=int(input())
d = a/b
x=0
while x==0:
  x=+1
  if a%b==0:
    print("No of times its divisible is", d)
  else:
    print("Not Divisible")

10
2
No of times its divisible is 5.0

In [3]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [4]:
for i in l:
  if i%3==0:
    print('Divisible by 3')
  else:
    print('Not divisible by 3')

Not divisible by 3
Not divisible by 3
Divisible by 3
Not divisible by 3
Not divisible by 3
Divisible by 3
Not divisible by 3
Not divisible by 3
Divisible by 3
Not divisible by 3
Not divisible by 3
Divisible by 3
Not divisible by 3
Not divisible by 3
Divisible by 3
Not divisible by 3
Not divisible by 3
Divisible by 3
Not divisible by 3
Not divisible by 3
Divisible by 3
Not divisible by 3
Not divisible by 3
Divisible by 3
Not divisible by 3

In [6]:
l= ['12',15,'ajay',3.142]

In [7]:
l.append('99')

In [8]:
l

['12', 15, 'ajay', 3.142, '99']

In [9]:
t = ('12',15,'ajay',3.142)

In [10]:
t.append('99')

AttributeError: 'tuple' object has no attribute 'append'